* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-container {
  background-color: #ffffff;
  padding: 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-list-container {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  flex-wrap: wrap;
  margin: 3px;

  width: 70%;
}

.heading {
  font-family: 'Roboto';
  font-size: 26px;
  font-weight: bold;
  margin: 3px;
  color: #1e293b;
}

.image {
  height: 50%;
  width: 60%;
  margin: 4px;
}
